<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field appearance="fill">
            <input 
                matInput 
                type="email" 
                placeholder="email"
                name="email"
                ngModel
                #emailInput="ngModel"
                required
                email
            >
            <mat-error *ngIf="emailInput.invalid">Please enter valid email.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input
                matInput
                placeholder="password"
                type="password"
                name="password"
                ngModel
                #passwordInput="ngModel"
                required
            >
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>

        <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary">Login</button>
       
    </form>
</mat-card>
