<mat-toolbar color="primary">
    <span><a routerLink="">My Messages</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li *ngIf="!userAuthenticated">
            <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userAuthenticated">
            <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li>
            <!-- <mat-icon class="icon">person</mat-icon> -->
            <button *ngIf="userAuthenticated" mat-button [matMenuTriggerFor]="menu">{{ username }}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Edit Profile</button>
                <button mat-menu-item  (click)="onLogout()">Logout</button>
            </mat-menu>
        </li>
        <!-- <li *ngIf="userAuthenticated">
            <button mat-button  (click)="onLogout()">Logout</button>
        </li> -->
    </ul>
</mat-toolbar>